<div id="<%= dom_id app_open %>">
  <p>
    <strong>User:</strong>
    <%= app_open.user_id %>
  </p>

  <p>
    <strong>Versionname:</strong>
    <%= app_open.versionName %>
  </p>

  <p>
    <strong>Versioncode:</strong>
    <%= app_open.versionCode %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= app_open.location %>
  </p>

  <p>
    <strong>Source ip:</strong>
    <%= app_open.source_ip %>
  </p>

</div>
