<%
=begin%>
 <div id="<%= dom_id earn %>">
  <p>
    <strong>Account:</strong>
    <%= earn.account_id %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= earn.logo %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= earn.name %>
  </p>

  <p>
    <strong>Coin:</strong>
    <%= earn.coin %>
  </p>

</div> 
<%
=end%>
 <td><%= earn.account_id %></td> 
    <td><%= earn.logo %></td> 
    <td><%= earn.coin %></td> 