<%
=begin%>
 <div id="<%= dom_id reward %>">
  <p>
    <strong>Name:</strong>
    <%= reward.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= reward.logo %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= reward.amount %>
  </p>

</div> 
<%
=end%>
    <td><%= reward.name %></td> 
    <td><%= reward.amount %></td> 
    <td><%= reward.logo %></td> 

