<div id="<%= dom_id user_profile %>">
  <p>
    <strong>Name:</strong>
    <%= user_profile.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user_profile.email %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= user_profile.mobile %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= user_profile.birthDate %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= user_profile.location %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user_profile.gender %>
  </p>

  <p>
    <strong>Profile pic:</strong>
    <%= user_profile.profile_pic %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= user_profile.occupation %>
  </p>

  <p>
    <strong>Source ip:</strong>
    <%= user_profile.source_ip %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_profile.user_id %>
  </p>

</div>
