<%
=begin%>
 <div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= player.team_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= player.score %>
  </p>
  <p>
    <strong>Role:</strong>
    <%= player.roles %>
  </p>

</div> 
<%
=end%>

    <td><%= player.name %></td> 
    <td><%= player.score %></td> 
    <td><%= player.roles %></td> 



