<div id="<%= dom_id fantasy %>">
  <p>
    <strong>Title:</strong>
    <%= fantasy.title %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= fantasy.logo %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= fantasy.link %>
  </p>

  <p>
    <strong>Refrelcode:</strong>
    <%= fantasy.refrelCode %>
  </p>

  <p>
    <strong>Signupbonus:</strong>
    <%= fantasy.signUpBonus %>
  </p>

  <p>
    <strong>Withdraw:</strong>
    <%= fantasy.Withdraw %>
  </p>

  <p>
    <strong>Withdrawtype:</strong>
    <%= fantasy.withdrawType %>
  </p>

</div>
